.form-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
}

.button_new {
  margin-top: 400px;
  right: 44rem;
}

.form-title{
  padding-left: 8rem;
}
