<h1 class="title">Sucursales</h1>

<% @companies.each do |company| %>
  <div>
  <%= link_to  company.name, company, class:'title' %>
  <%= link_to 'Editar', edit_company_path(company.id) %>
  <%= link_to 'Eliminar', company_path(company.id), data: { turbo_method: :delete, turbo_confirm: "¿Estás seguro de eliminar esta sucursal?" } %>
  </div>
<% end%>
