body {
  background-color: var(--yellow);
}

.watch_container {
  background: var(--white);
  border-radius: 200rem;
  height: 694px;
  left: 350px;
  position: absolute;
  top: 160px;
  width: 725px;

  .h4 {
    background: var(--dark-grey);
    border-radius: 14px;
    color: var(--white);
    height: 80px;
    left: 155px;
    padding: 20px;
    position: absolute;
    text-align: center;
    top: 155px;
    width: 402px;
  }
  .h5 {
    background: var(--dark-grey);
    border-radius: 14px;
    color: var(--white);
    height: 60px;
    left: 198px;
    padding: 20px;
    position: absolute;
    text-align: center;
    top: 242px;
    width: 302px;
  }

  .form {
    border-radius: 50px;
    height: 56px;
    left: 220px;
    position: absolute;
    top: 400px;
    width: 202px;
  }

  .text-field {
    background-color: var(--light-grey);
    border-radius: 50px;
    border: none;
    color: var(--white);
    height: 50px;
    text-align: center;
    width: 300px;
  }

  ::placeholder {
    color: var(--white);
    padding-left: 10px;
  }

  .button-container {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-left: 100px;
  }

  .button {
    background: var(--blue);
    border-radius: 50px;
    border: 1px solid var(--black);
    color: var(--white);
    height: 40px;
    margin-top: 10px;
    width: 140px;
  }
}

.watch-title {
  color: var(--white);
  font-family: "Inter";
  font-size: 39px;
  font-style: normal;
  font-weight: 400;
  height: 47px;
  line-height: 47px;
  position: fixed;
  right: 70%;
  text-align: center;
  top: 65px;
  width: 281px;
}
.button_login {
  background: var(--blue);
  border-radius: 11px;
  color: var(--white);
  font-family: "Inter";
  font-size: 30px;
  height: 60px;
  left: 950px;
  position: absolute;
  text-align: center;
  top: 65px;
  width: 178px;
}
.button_admin {
  background: var(--blue);
  border-radius: 14px;
  color: var(--white);
  font-size: 30px;
  height: 60px;
  left: 1150px;
  position: absolute;
  text-align: center;
  top: 65px;
  width: 178px;
}
